<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>앱에서 현재 위치를 사용합니다.</string>
	<key>NMFClientId</key>
	<string>ipds72ilcu</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>앱에서 언제나 위치 정보를 사용합니다.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
